

@media screen and (max-width: 900px) {
    .bmi-child-section-flex{
        gap: 10%;
        align-items: center;
    }
}

@media screen and (max-width:570px) {
    .navbar h1{
        margin-bottom: 5%;
    }
    .navber-menu{
        display: none;
    }
    .nav-hmbar{
    
        display: block;
    }
    .banner-section-flex{
        flex-direction: column;
    }
    .banner-section-flex p{
        margin-bottom: 7%;
    }
    .banner-section-flex button{
        margin-bottom: 10%;
    }
    .banner-section-posting{
        left: 60%;
        top:40%;
        max-width: 30%;
        padding-top: 9%;
    }
    .banner-setion-posting-2{
        bottom: 27%;
        right: 44%;
    }
    .habtis-main-section{
        margin-top: 80%;
    }
    .habtis-banner-img-section{
        grid-template-columns: repeat(2, 1fr);
    }
    .run-main-parent{
        flex-direction: column;
    }
    .run-section-titel h1{
        padding-top: 5%;
        font-size: 2rem;
        margin-bottom: 5%;
       
    
    }
    .run-section-titel img{
     width: 100%;
    padding: 15px 0px;
    border-radius: 6%;
    text-align: center;
}
.bmi-child-section-flex{
    flex-direction: column;
}
.bmi-calculter h1{
    text-align: center;
    margin-top: 4%;
}
.bmi-calculter p{
    margin-bottom: 5%;
}



    }
    


