*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    background-color: #111111;
}
/* navbar star */
.main-header{
    max-width: 1400px;
    height: 715px;
    background: linear-gradient(180deg, #111111 100%, rgba(119, 119, 119, 0) 0%);
   
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    text-align: center;
    
}
.navbar a{
    text-decoration: none;
    color: #ffff;
    margin-left: 2rem;
}
.navbar h1{
    color:#E6533C;
    
}
.nav-hmbar{
    color: white;
    display: none;
}
#home{
    background: #E6533C;
    border-radius: 45px;
    padding: 5px 15px ;
    text-align: center;

}
/* navber end */

/* banner-section */
.banner-section-main{
    max-width: 1400px;
       
}
.banner-section-flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
    
}
.banner-section-flex h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 2%;
    font-weight: bold;
    

}
.banner-section-flex p{
    font-size: 1rem;
    margin-bottom: 3%;
    color: #ffffff80;
    /* margin-left: 10%; */
   
}
.banner-section-flex div{
    width: 100%;
    
}
.banner-section-flex button{
    background-color: #E6533C;
    padding: 10px 20px;
    border-radius: 42px;
    border: none;
    text-align: center;
    margin-left: 0.5rem;
    color: #FFFFFF;
    font-size: 1rem;
}
#banner-btn{
    background-color: transparent;
    border: 1px solid white;

}
.banner-img{
    width: 45%;
    
}
.banner-section-posting{
    position: absolute;
    left: 80%;
    top: 23%;
    color: white;
    background-color: #FFFFFF1A;
    max-width: 13%;
    height: 16%;
    border-radius: 10px;
    padding-top: 2%;
   
    
}
.banner-section-posting p{
    font-size: 13px;
    color: #FFFFFFA6;
}
.banner-setion-posting-2{
    position: absolute;
    color: white;
    background-color: #FFFFFF1A;
    max-width: 206px;
    height: 96px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 14%;
    right: 31%;
   
}

